.p-title,
.p-price {
  font-size: 13px;
  color: #3c3b3b;
}

.p-img {
  max-width: 175px;
  align-self: center;
}

.custom-card {
  border: none;
  border-radius: 0;
}
.custom-card:hover {
  box-shadow: 0 0 2px 2px #efefef;
}
