.bg-top-nav {
      background-color: #232f3e;
      color: white;
}

.custom-top-nav,
.bg-top-nav p {
      font-size: 14px;
}

.custom-top-nav a {
      padding: 10px;
}

.custom-top-nav .border-left {
      border-color: #4a4a4a !important;
}

.custom-btn-font-size {
      font-size: 14px;
}

.shop-card {
      background-color: transparent;
}

.shop-card span {
      font-size: 16px;

}

.dropdown-toggle::after {
      vertical-align: 0px !important;
}

.basket {
      width: 300px !important
}

.basket a {
      font-size: 14px;
}

.basket a img {
      width: 64px;
      height: 64px;
}

.custom-navbar-nav {
      font-size: 15px;
}

.custom-navbar-nav .nav-item {
      position: unset;
}



.custom-navbar-nav .nav-item .dropdown-menu {

      border-radius: 0;
      top: 54px;

}

.dropdown-image img {
      position: absolute;
      left: 10px;
      bottom: 20px;
      width: 300px;
}

.dropdown-image ul.nav li a {
      color: #7f8185 !important;
      transition: all 0.5s ease;
}

.dropdown-image ul.nav li a i {
      vertical-align: -2px;
      padding-left: 4px;
}

.dropdown-image ul.nav li a:hover {
      margin-right: 7px;
      color: rgb(rgb(231, 13, 13), rgb(255, 255, 255), rgb(255, 255, 255)) !important;
}

.input-top-nav-search::-webkit-input-placeholder {
      font-size: 13px;
}

.dropdown-menu.show {}